[submodule "modules/beatrice_trainer"]
	path = modules/beatrice_trainer
	url = https://github.com/JarodMica/beatrice_trainer.git
[submodule "modules/gradio_utils"]
	path = modules/gradio_utils
	url = https://github.com/JarodMica/gradio_utils.git
